/* css page for index.html */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

header {
  height: 120px;
  position: relative;
  top: 60px;
}

h1 {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}
label,
p {
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: blue;
}

li {
  padding: 20px;
  margin: 0 5px;
  display: list-item;
  list-style-type: decimal;
}

textarea {
  padding: 0;
  margin: 5px 0;
  border: 3px solid blue;
}

.cipher-img {
  width: 300px;
  height: 120px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Caesar_cipher_left_shift_of_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding:125px 0;
  margin: 10px;
}

/* ul {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  width:100%;
  float: right;

  position: fixed;
  z-index: 10;
  text-align: center;
  display: inline-block;

  list-style-type: none;
  border: 3px solid #466695;
  background-color: #466695;

}
*/

li {
  display: list-item;
  padding: 0 5px;
}

.head-left,  /*for some reason, using nav as selector doesn't work*/
.head-right {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 25px;

  list-style-type:none;

  height: 45px;
  position: fixed;

  padding: 5px;
  border: 3px solid black;
  background-color: black;

  z-index: 2;
}

.head-left li,
.head-right li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
}

.head-left {
  width: 80%;
  z-index: 2;
}

.head-right {
  text-align: right;
  width:20%;

  position:fixed;

  right:0;
  z-index: 2;
}


ol,
ul {
  color:black;

}

.loc {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

.loc ol {
  margin: 5px;
  padding: 20px;
  list-style-type: upper-roman;
  display: list-item;
}
