/* css page for index.html */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

header {
  height: 120px;
  position: relative;
  top: 60px;
}

h1 {
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}
label,
p {
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  padding: 0 10px;
  display: inline-block;
}

textarea {
  padding: 0;
  margin: 5px 0;
  border: 3px solid blue;
}

.cipher-img {
  width: 300px;
  height: 120px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Caesar_cipher_left_shift_of_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding:125px 0;
  margin: 10px;
}

/* ul {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  width:100%;
  float: right;

  position: fixed;
  z-index: 10;
  text-align: center;
  display: inline-block;

  list-style-type: none;
  border: 3px solid #466695;
  background-color: #466695;

}
*/

nav {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 25px;

  list-style-type:none;

  height: 45px;
  position: fixed;

  padding: 5px;
  border: 3px solid black;
  background-color: white;

  width: 100%;
  z-index: 2;
}

nav a {
  color: blue;
  text-decoration: none;
}

.head-left {
  width: 100%; /*literally useless*/
}

.head-right {
  text-align: right;
  font-size: 25px;

  margin: 0;
  padding: 5px;
  border: 3px solid black;
  background-color: white;

  width:30%;

  float:right;
}




.loc {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

.loc ol {
  list-style-type: upper-roman;
}
.loc li {
  display: block;
  list-style-type: upper-roman; /* idk how to make list get back number i tried everything*/
}
